<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
            <a routerLink="../../work" class="btn btn-sm btn-dark mb-3">Back</a>
            <img title="{{menuData[0].menuName}}" src="{{menuData[0].menuImg}}" width="100%"/>
            <h1 class="mt-3">{{menuData[0].menuName}}</h1>
            <p>{{menuData[0].menuDetails}}</p>
            <p>{{menuData[0].menuDate | currency}}</p>
        </div>

        <div class="col-lg-6">
            <h1>Order Details</h1>
            <form>
                <input type="text" class="form-control" placeholder="Enter Your Name"/>
                <input type="text" class="form-control" placeholder="Enter Quantiy"/>
                <textarea class="form-control" placeholder="Enter Customizational Notes"></textarea>
                <button type="submit" class="btn btn-md btn-dark mt-3">Order</button>
            </form>
        </div>
    </div>
</div>
