<div class="container-fluid footer mt-5">
    <div class="row">
        <!--name-->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Perera Foods</h1>
            <p>Alrights Reserved</p>
        </div>
        <!--nav-->
        <div class="col-lg-4  mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="work">Menu</a>
            <a routerLink="about">About Us</a>
            <a routerLink="contact">Contact Us</a>
        </div>
        <!--social links-->
        <div class="col-lg-2 mt-3 mb-3">
            <a title = "facebook-link" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a title = "linkedin-link"href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a title = "github-link"href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a title = "whatsapp-link" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</div>