<div class="container mt-5 mb-5">
    <img src="../../../assets/img/pexels2.jpg" alt="X" width='100%' />
    <h1 class="text-center">About Us</h1>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum euismod diam quis maximus. Cras cursus, risus
        eu finibus bibendum, libero velit molestie arcu, non tristique velit sapien a metus. Proin blandit, purus quis
        dignissim ullamcorper, lacus nulla congue nibh, ut facilisis ligula leo a arcu. Aliquam libero erat,
        sollicitudin nec nisl ut, feugiat condimentum metus. Praesent magna elit, rhoncus varius varius at, venenatis ut
        velit. In hac habitasse platea dictumst. Proin tincidunt ac leo id condimentum. Etiam condimentum ligula vitae
        rhoncus placerat. Aliquam ac purus nec augue aliquet tempus quis sed ante. Sed varius orci non felis imperdiet,
        sit amet accumsan magna mattis. Phasellus sagittis viverra sem vitae faucibus. Quisque urna augue, posuere eget
        pulvinar vitae, tincidunt maximus erat. Integer vel ante rutrum, gravida sem sit amet, viverra enim. Curabitur
        posuere orci at lacus vehicula tincidunt.
        <br />
        <br />
        Sed est tortor, varius a libero eu, cursus tempus lacus. Mauris placerat iaculis enim nec commodo. Duis rhoncus
        arcu porta felis mattis, eget facilisis velit varius. Praesent vitae turpis tincidunt, aliquet velit quis,
        pharetra elit. Sed fringilla turpis id ante tempus porttitor. Ut facilisis est aliquam dictum consequat.
        Maecenas lobortis nulla vulputate imperdiet maximus. Vestibulum dictum auctor purus quis ullamcorper. Nulla
        facilisi. Sed odio nibh, mattis scelerisque aliquam vitae, porttitor non metus. Donec quis tellus at mi iaculis
        vestibulum. Etiam sagittis risus ipsum, sit amet ornare nibh efficitur dictum.
        <br />
        <br />
        Nam tempus tortor at eleifend rutrum. Suspendisse nec metus rhoncus, luctus sapien sit amet, porta elit. Duis
        non ante tempus, tincidunt ante laoreet, iaculis est. Suspendisse hendrerit tincidunt eros, in dignissim turpis
        venenatis quis. Cras risus justo, finibus ac pharetra et, sollicitudin a tortor. Sed neque arcu, eleifend ac
        lorem sit amet, blandit commodo enim. Nam dapibus lectus eget augue gravida ullamcorper. Suspendisse potenti.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam quis libero vel lacus rutrum maximus id
        laoreet sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique lacinia dolor ac
        cursus. Aliquam eget semper velit. Nunc id congue lectus, quis feugiat nulla. Donec congue ut ex sed consequat.
    </p>
</div>